*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

body {
    height: 100vh;
    color: rgb(0, 0, 0);
    text-align: center;

}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    align-items: center;
}

#score {
    font-weight: 700;
    margin-right: 100px;
    color: red
}

.btn {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 0 0 5px 5px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    background: rgb(59, 177, 255);
    padding: 0.5em;
    cursor: pointer;
}

#holder {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.quizCon {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background: black;
}

#question {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    background: rgb(59, 177, 255);
    padding: 20px;

}

